/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    min-height: 200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

@font-face {
    font-family: Constantia;
    src: url('font2.woff');
}

body {
    font-family: Constantia;
}

li.active {
    border-bottom: 3px solid white;;
}

footer {
    background-color: #222;
    color: white;
    bottom: 0;
    position: absolute;
}

.banner {
    width: auto;
    height: 126px;
    padding: 10px 0px 10px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.partner {
    float: left;
    max-width: 150px;
    height: auto;
}