#imCell_1 { display: block; position: relative; overflow: hidden; width: 1002px; min-height: 401px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_1 { position: relative; width: 996px; min-height: 395px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_1 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imObjectGallery_1 > div { margin: 0 auto; }
#imContent #imObjectGallery_1 a:link, #imContent #imObjectGallery_1 a:hover, #imContent #imObjectGallery_1 a:visited, #imContent #imObjectGallery_1 a:active { border: none; background-color: transparent; text-decoration: none; }
#imCell_2 { display: block; position: relative; overflow: hidden; width: 326px; min-height: 197px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_2 { position: relative; width: 316px; min-height: 150px; padding: 42px 5px 5px 5px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; border-top-left-radius: 10px; overflow: hidden; z-index: 2;}
#imCellStyleTitle_2 { position: absolute; padding: 5px 5px 5px 5px; top: 5px; left: 5px; right: 5px; text-align: center; font-family: Trebuchet MS; font-size: 16pt; font-style: normal; font-weight: bold; color: #808080; background-color: transparent; z-index: 4;}
#imCellStyleGraphics_2 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; border-top-left-radius: 10px; overflow: hidden;}
#imCellStyleGraphicsC_2 { position: absolute; top: 54px; bottom: 54px; left: 80px; right: 80px; background: transparent url('../') repeat center center;}
#imCellStyleGraphicsB_2 { position: absolute; bottom: 0; left: 80px; right: 80px; height: 54px; background: transparent url('../') repeat-x center bottom;}
#imCellStyleGraphicsBL_2 { position: absolute; bottom: 0; left: 0; width: 80px; height: 54px; background: transparent url('../') repeat left bottom;}
#imCellStyleGraphicsBR_2 { position: absolute; bottom: 0; right: 0; width: 80px; height: 54px; background: transparent url('../') repeat right bottom;}
#imCellStyleGraphicsL_2 { position: absolute; top: 54px; bottom: 54px; left: 0; width: 80px; background: transparent url('../') repeat-y left center;}
#imCellStyleGraphicsR_2 { position: absolute; top: 54px; bottom: 54px; right: 0; width: 80px; background: transparent url('../') repeat-y right center;}
#imCellStyleGraphicsT_2 { position: absolute; top: 0; left: 80px; right: 80px; height: 54px; background: transparent url('../') repeat-x center top;}
#imCellStyleGraphicsTL_2 { position: absolute; top: 0; left: 0; width: 80px; height: 54px; background: transparent url('../') repeat left top;}
#imCellStyleGraphicsTR_2 { position: absolute; top: 0; right: 0; width: 80px; height: 54px; background: transparent url('../') repeat right top;}
#imTextObject_2_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_2_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_2_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_2_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_2_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_2_tab0 p { margin: 0; padding: 0; }
#imTextObject_2_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_2_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_2_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_2_tab0 .imUl { text-decoration: underline; }
#imTextObject_2_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_2_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_2_tab0 .ff2 { font-family: "Symbol", sans-serif; }
#imTextObject_2_tab0 .ff3 { font-family: "Symbol", sans-serif; }
#imTextObject_2_tab0 .ff4 { font-family: "Arial", sans-serif; }
#imTextObject_2_tab0 .ff5 { font-family: "Arial", sans-serif; }
#imTextObject_2_tab0 .ff6 { font-family: "Wingdings", sans-serif; }
#imTextObject_2_tab0 .cf1 { color: #000000; }
#imTextObject_2_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_2_tab0 .cf3 { color: #000000; }
#imTextObject_2_tab0 .cf4 { color: #C00000; }
#imTextObject_2_tab0 .cf5 { color: #0030BF; }
#imTextObject_2_tab0 .cf6 { color: #000000; }
#imTextObject_2_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_2_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_2_tab0 .cb1 { background-color: #000000; }
#imTextObject_2_tab0 .cb2 { background-color: transparent; }
#imTextObject_2_tab0 .cb3 { background-color: #000000; }
#imTextObject_2_tab0 .cb4 { background-color: #C00000; }
#imTextObject_2_tab0 .cb5 { background-color: #0030BF; }
#imTextObject_2_tab0 .cb6 { background-color: #000000; }
#imCell_3 { display: block; position: relative; overflow: hidden; width: 326px; min-height: 197px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_3 { position: relative; width: 314px; min-height: 144px; padding: 42px 5px 11px 5px; text-align: center; border-top: 0; border-bottom: 0; border-left: 1px solid #E0E0E0; border-right: 1px solid #E0E0E0; z-index: 2;}
#imCellStyleTitle_3 { position: absolute; padding: 5px 5px 5px 5px; top: 5px; left: 5px; right: 5px; text-align: center; font-family: Trebuchet MS; font-size: 16pt; font-style: normal; font-weight: bold; color: #808080; background-color: transparent; z-index: 4;}
#imCellStyleGraphics_3 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent;}
#imCellStyleGraphicsC_3 { position: absolute; top: 54px; bottom: 54px; left: 80px; right: 80px; background: transparent url('../') repeat center center;}
#imCellStyleGraphicsB_3 { position: absolute; bottom: 0; left: 80px; right: 80px; height: 54px; background: transparent url('../') repeat-x center bottom;}
#imCellStyleGraphicsBL_3 { position: absolute; bottom: 0; left: 0; width: 80px; height: 54px; background: transparent url('../') repeat left bottom;}
#imCellStyleGraphicsBR_3 { position: absolute; bottom: 0; right: 0; width: 80px; height: 54px; background: transparent url('../') repeat right bottom;}
#imCellStyleGraphicsL_3 { position: absolute; top: 54px; bottom: 54px; left: 0; width: 80px; background: transparent url('../') repeat-y left center;}
#imCellStyleGraphicsR_3 { position: absolute; top: 54px; bottom: 54px; right: 0; width: 80px; background: transparent url('../') repeat-y right center;}
#imCellStyleGraphicsT_3 { position: absolute; top: 0; left: 80px; right: 80px; height: 54px; background: transparent url('../') repeat-x center top;}
#imCellStyleGraphicsTL_3 { position: absolute; top: 0; left: 0; width: 80px; height: 54px; background: transparent url('../') repeat left top;}
#imCellStyleGraphicsTR_3 { position: absolute; top: 0; right: 0; width: 80px; height: 54px; background: transparent url('../') repeat right top;}
#imTextObject_3_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_3_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_3_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_3_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_3_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_3_tab0 p { margin: 0; padding: 0; }
#imTextObject_3_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_3_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_3_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_3_tab0 .imUl { text-decoration: underline; }
#imTextObject_3_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_3_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_3_tab0 .ff2 { font-family: "Arial", sans-serif; }
#imTextObject_3_tab0 .ff3 { font-family: "Arial", sans-serif; }
#imTextObject_3_tab0 .ff4 { font-family: "Symbol", sans-serif; }
#imTextObject_3_tab0 .ff5 { font-family: "Wingdings", sans-serif; }
#imTextObject_3_tab0 .ff6 { font-family: "Tahoma", sans-serif; }
#imTextObject_3_tab0 .cf1 { color: #000000; }
#imTextObject_3_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_3_tab0 .cf3 { color: #C00000; }
#imTextObject_3_tab0 .cf4 { color: #0030BF; }
#imTextObject_3_tab0 .cf5 { color: #000000; }
#imTextObject_3_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_3_tab0 .cb1 { background-color: #000000; }
#imTextObject_3_tab0 .cb2 { background-color: transparent; }
#imTextObject_3_tab0 .cb3 { background-color: #C00000; }
#imTextObject_3_tab0 .cb4 { background-color: #0030BF; }
#imTextObject_3_tab0 .cb5 { background-color: #000000; }
#imCell_4 { display: block; position: relative; overflow: hidden; width: 326px; min-height: 197px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_4 { position: relative; width: 316px; min-height: 144px; padding: 42px 5px 11px 5px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; border-top-left-radius: 10px; overflow: hidden; z-index: 2;}
#imCellStyleTitle_4 { position: absolute; padding: 5px 5px 5px 5px; top: 5px; left: 5px; right: 5px; text-align: center; font-family: Trebuchet MS; font-size: 16pt; font-style: normal; font-weight: bold; color: #808080; background-color: transparent; z-index: 4;}
#imCellStyleGraphics_4 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; border-top-left-radius: 10px; overflow: hidden;}
#imCellStyleGraphicsC_4 { position: absolute; top: 54px; bottom: 54px; left: 80px; right: 80px; background: transparent url('../') repeat center center;}
#imCellStyleGraphicsB_4 { position: absolute; bottom: 0; left: 80px; right: 80px; height: 54px; background: transparent url('../') repeat-x center bottom;}
#imCellStyleGraphicsBL_4 { position: absolute; bottom: 0; left: 0; width: 80px; height: 54px; background: transparent url('../') repeat left bottom;}
#imCellStyleGraphicsBR_4 { position: absolute; bottom: 0; right: 0; width: 80px; height: 54px; background: transparent url('../') repeat right bottom;}
#imCellStyleGraphicsL_4 { position: absolute; top: 54px; bottom: 54px; left: 0; width: 80px; background: transparent url('../') repeat-y left center;}
#imCellStyleGraphicsR_4 { position: absolute; top: 54px; bottom: 54px; right: 0; width: 80px; background: transparent url('../') repeat-y right center;}
#imCellStyleGraphicsT_4 { position: absolute; top: 0; left: 80px; right: 80px; height: 54px; background: transparent url('../') repeat-x center top;}
#imCellStyleGraphicsTL_4 { position: absolute; top: 0; left: 0; width: 80px; height: 54px; background: transparent url('../') repeat left top;}
#imCellStyleGraphicsTR_4 { position: absolute; top: 0; right: 0; width: 80px; height: 54px; background: transparent url('../') repeat right top;}
#imTextObject_4_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_4_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_4_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_4_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_4_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_4_tab0 p { margin: 0; padding: 0; }
#imTextObject_4_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_4_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_4_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_4_tab0 .imUl { text-decoration: underline; }
#imTextObject_4_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_4_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_4_tab0 .ff2 { font-family: "Arial", sans-serif; }
#imTextObject_4_tab0 .ff3 { font-family: "Arial", sans-serif; }
#imTextObject_4_tab0 .ff4 { font-family: "Symbol", sans-serif; }
#imTextObject_4_tab0 .ff5 { font-family: "Wingdings", sans-serif; }
#imTextObject_4_tab0 .ff6 { font-family: "Tahoma", sans-serif; }
#imTextObject_4_tab0 .cf1 { color: #000000; }
#imTextObject_4_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_4_tab0 .cf3 { color: #C00000; }
#imTextObject_4_tab0 .cf4 { color: #0030BF; }
#imTextObject_4_tab0 .cf5 { color: #000000; }
#imTextObject_4_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_4_tab0 .cb1 { background-color: #000000; }
#imTextObject_4_tab0 .cb2 { background-color: transparent; }
#imTextObject_4_tab0 .cb3 { background-color: #C00000; }
#imTextObject_4_tab0 .cb4 { background-color: #0030BF; }
#imTextObject_4_tab0 .cb5 { background-color: #000000; }
